.App {
  text-align: center;
}

.App-header {
  background-color: #d7b81e;
  font-size: calc(10px + 2vmin);
  margin: 1rem;
  border: 3px solid black;
}

.App-header h1 {
  background-color: #d7871e;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 3px solid black;
}

.App-content {
  background-color: #d7b81e;
  font-size: calc(1px + 2vmin);
  margin: 1rem;
  border: 3px solid black;
}

.App-content-header {
  background-color: #d7871e;
  margin: 1rem;
  border: 3px solid black;
}

.App-content-header input {
  background-color: #cecece;
  margin: 1rem;
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
}

.App-content-character {
  background-color: #d7871e;
  margin: 1rem;
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-content-character div {
  background-color: #d7591e;
  margin: 1rem;
  border: 3px solid black;
}

.App-content-character-pic {
  height: 300px;
  width: 300px;
}

.App-content-character-info {
  height: 500px;
  width: 300px;
}

.App-content-navigation {
  background-color: #d7871e;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 50rem;
  margin-left: 50rem;
  border: 3px solid black;
}
