.App {
  text-align: center;
  text-transform: capitalize;
}

.App-header {
  background-color: #d7b81e;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 5px;
}

.App-content {
  background-color: #d7b81e;
  font-size: calc(1px + 2vmin);
  margin: 1rem;
  border: 3px solid black;
  border-radius: 5px;
}

.App-content-header {
  background-color: #d7871e;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 5px;
}

.App-content-header input {
  background-color: #cecece;
  margin: 1rem;
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
}

.App-content-character {
  background-color: #d7871e;
  margin: 1rem;
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.App-content-character > * {
  background-color: #d7591e;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
}

.App-content-character-pic {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.App-content-character-pic img {
  display: flex;
}

.App-content-character-info table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 10%;
  flex-wrap: wrap;
}

.App-content-character-info th {
  border-bottom: 3px solid black;
  padding: 10px;
  font-size: 13px;
}

.App-content-character-info td {
  padding: 5px;
  font-size: 13px;
}

.App-content-navigation {
  background-color: #d7871e;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 5px;
}

#tenList {
  margin: auto;
  border-collapse: collapse;
}

#tenList th {
  padding: 5px;
  border-bottom: 3px solid black;
}
